<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
          aria-controls="pills-home" aria-selected="true" [routerLink]="pathItem1"
          routerLinkActive="active-link">{{item1}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="pathItem2">{{item2}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="pathItem3" routerLinkActive="router-link-active">{{item3}}</a>
      </li>
    </ul>
  </div>
</nav>
