<form class="form-inline" method="GET" (ngSubmit)="onSubmit()">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Sélectionnez vos critères de recherches</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Pays</option>
    <option *ngFor="let voyages of ListPays; let i = index" [attr.data-index]="i" name="pays">{{voyages.pays}}</option>
  </select>

  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Thème</option>
    <option *ngFor="let themes of ListTheme; let i = index" [attr.data-index]="i" name="themes">{{themes.theme}}</option>
  </select>

  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Hébergement</option>
    <option *ngFor="let hebergements of ListHebergement; let i = index" [attr.data-index]="i" name="heberg">{{hebergements.type}}</option>
  </select>

  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Pension</option>
    <option *ngFor="let pensions of ListPension; let i = index" [attr.data-index]="i" name="pension">{{pensions.type}}</option>
  </select>

  <button type="submit" class="btn btn-primary my-1">Valider</button><br>
  <a [routerLink]="pathLien">{{lien}}</a>
</form>

<router-outlet></router-outlet>
