.form-inline {
  height: 450px;
  background-image: linear-gradient(to right, #8bd6f6, #00b6ff, #0091ff, #0066ff, #1225eb);
  padding-left: 10px;
}

.btn {
  margin: auto;
}

a {
  padding-right: 10px;
  color: white;
  text-decoration: underline;

}
