<footer class="footer-distributed">

  <div class="footer-left">

    <h3><span>Calypso</span></h3>

    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">Blog</a>
      ·
      <a href="#">Pricing</a>
      ·
      <a href="#">About</a>
      ·
      <a href="#">Faq</a>
      ·
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">Company Name &copy; 2019</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p>
        <span>25, Avenue des papillons</span> 59160, Lille, France
      </p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>0600000000</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:calypso@gmail.com">calypso@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>A propos de notre agence</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula
      sit amet.
    </p>

    <div class="footer-icons">

      <a href="https://fr-fr.facebook.com/"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/?lang=fr"><i class="fa fa-twitter"></i></a>
      <a href="https://fr.linkedin.com/"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>
