<div class="container">
    <div class="nav-connexion">
            <button type="submit" name ="Profile" class="btn btn-primary">Profile</button>
            <button type="submit" class="btn btn-primary" (click)="goAc()">Accueil</button>
    </div>
    <form (ngSubmit)="onSubmit()" #loggin="ngForm">
      <div class="form-group">
        <label for="identifiant">login</label>
        <input type="text" class="form-control" id="identifiant"
               required
               [(ngModel)]="model.identifiant"
               #login="ngModel" name="identifiant">
        <div [hidden]="login.valid || login.pristine"
             class="alert alert-danger">
          Loggin is required
        </div>
      </div>
      <div class="form-group">
        <label for="motdepasse">password</label>
        <input type="text" class="form-control" id="motdepasse"
                required
               [(ngModel)]="model.password" 
               #password="ngModel" name="motdepasse">
        <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
          password is required
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!loggin.form.valid">Submit</button>
    </form>
</div>
