.connexionComponent{
    background-color: cornflowerblue;   
}
.nav-connexion{
    background-color: cornflowerblue; 
}
body
{
    background-color: cornflowerblue; 
}
html{
    background-color: cornflowerblue;
}
form{
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 20%;
}
.container 
{
    background-color: cornflowerblue;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }