    <h3>Nos voyages</h3>
    <table class="table table-striped">
      <thead class="thead-default">
        <tr>
          <th>Nom</th>
          <th>Prix</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let voyages of Voyage; let i = index" [attr.data-index]="i">
          <td><a [routerLink]="pathDetail">{{voyages.nom}}</a></td>
          <td>{{voyages.prix}} €</td>
          <td>{{voyages.detail}}</td>
        </tr>
      </tbody>
    </table>
