.fond {
  background-image: url('../../../assets/img/body.gif');
  background-attachment: fixed;
  background-color: blue;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

h1,
.presentation {
  color: rgb(238, 238, 172);
}
