<form>
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Création d'un voyage</label>
  <div class="form-group">
    <label for="formGroupExampleInput">Nom du voyage</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" required>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Thème</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" required>
  </div>

  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" required>
    <option selected>Hébergement</option>
    <option value="1">Hôtel1</option>
    <option value="2">Hôtel2</option>
    <option value="3">Hôtel3</option>
  </select>

  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Hébergement</option>
    <option value="1">Hôtel1</option>
    <option value="2">Hôtel2</option>
    <option value="3">Hôtel3</option>
  </select>

  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" required>
    <option selected>Activité</option>
    <option value="1">Activité1</option>
    <option value="2">Activité2</option>
    <option value="3">Activité3</option>
  </select>

  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Activité</option>
    <option value="1">Activité1</option>
    <option value="2">Activité2</option>
    <option value="3">Activité3</option>
  </select>

  <div class="form-group">
    <label for="formGroupExampleInput">Type de pension</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" required>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput2">Prix</label>
    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Another input" required>
  </div>

  <button type="submit" class="btn btn-primary my-1">Valider</button>
</form>
