<div class="row">

  <div class="col-8"><span class="titre">CALYPSO</span><br>
    <span class="phrase">Bienvenue dans la nouvelle agence de voyage qui vous permet
      enfin de
      partir en toute
      liberté
      et
      de décider de chaque détail.</span>
  </div>

  <div class="vide col-2"></div>

  <div class="col-2">
    <app-formulaire class="formulaire"></app-formulaire>

  </div>
</div>
