.row {
  background-image: linear-gradient(to right, #8bd6f6, #00b6ff, #0091ff, #0066ff, #1225eb);
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 105%;
  width: 100.8%;
  padding-top: 20px;
  padding-left: 20px;
}

.titre {
  font-size: 30px;
  color: rgb(238, 238, 172);
}

.phrase {
  font-size: 20px;
  color: white;
  width: 70%;
}
