<div [hidden]="usertrue" class="signin">
  <form>
          <button type="button" class="btn btn-primary"(click)="router.navigate(['/connexion']);">Sign in</button>
  </form>
</div>

<div [hidden]="userCO" class="profile">
  <form>
    <button type="button" class="btn btn-primary"(click)="router.navigate(['/connexion']);">Profile</button>
</form>
</div>

