/*.formul {
  border: black;
  background-color: rgb(211, 211, 211, 0.5);
  width: 85%;
}

.bouton {
  margin: auto;
  margin-bottom: 7px;
  opacity: 0.8;
}

input {
  opacity: 0.7;
  margin-left: 10px;
}

h3 {
  margin-bottom: 20px;
  color: rgb(238, 238, 172);
  text-align: center;
}

@media screen and (max-width: 1200px) {

  h3 {
    font-size: 15px;
  }

  input {
    margin-left: 5px;
  }
}

@media screen and (max-width: 800px) {

  .formul {
    width: 110%;
    margin-left: -50%;
  }

  input {
    margin-left: 4px;
  }
}

@media screen and (max-width: 750px) {

  h3 {
    visibility: hidden;
  }


}*/
